## Part I. Explore the Data

In [11]:
# import libraries and dataset
import pandas as pd
df = pd.read_csv('developer_dataset.csv', low_memory=False)

In [12]:
# columns we have in the data
print(df.columns)

Index(['RespondentID', 'Year', 'Country', 'Employment', 'UndergradMajor',
       'DevType', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Hobbyist', 'OrgSize', 'YearsCodePro',
       'JobSeek', 'ConvertedComp', 'WorkWeekHrs', 'NEWJobHunt',
       'NEWJobHuntResearch', 'NEWLearn'],
      dtype='object')

In [13]:
# row count for each column
df.count()

RespondentID              111209
Year                      111209
Country                   111209
Employment                109425
UndergradMajor             98453
DevType                   100433
LanguageWorkedWith        102018
LanguageDesireNextYear     96044
DatabaseWorkedWith         85859
DatabaseDesireNextYear     74234
PlatformWorkedWith         91609
PlatformDesireNextYear     85376
Hobbyist                   68352
OrgSize                    54804
YearsCodePro               94793
JobSeek                    60556
ConvertedComp              91333
WorkWeekHrs                51089
NEWJobHunt                 19127
NEWJobHuntResearch         18683
NEWLearn                   24226
dtype: int64

In [14]:
# perform some basic summary statistics
df.describe()

        RespondentID           Year  YearsCodePro  ConvertedComp   WorkWeekHrs
count  111209.000000  111209.000000  94793.000000   9.133300e+04  51089.000000
mean    19262.039709    2018.854832      9.547045   1.251777e+05     41.051670
std     11767.011322       0.777503      7.548931   2.461218e+05     13.833929
min         1.000000    2018.000000      0.000000   0.000000e+00      1.000000
25%      9268.000000    2018.000000      4.000000   4.600000e+04     40.000000
50%     18535.000000    2019.000000      8.000000   7.900000e+04     40.000000
75%     28347.000000    2019.000000     14.000000   1.200000e+05     42.000000
max     42857.000000    2020.000000     50.000000   2.000000e+06    475.000000

In [15]:
# the percentage missing data for each column
maxRows = df['RespondentID'].count()
 
print('% Missing Data:')
print((1 - df.count() / maxRows) * 100)

% Missing Data:
RespondentID               0.000000
Year                       0.000000
Country                    0.000000
Employment                 1.604187
UndergradMajor            11.470295
DevType                    9.689863
LanguageWorkedWith         8.264619
LanguageDesireNextYear    13.636486
DatabaseWorkedWith        22.794918
DatabaseDesireNextYear    33.248208
PlatformWorkedWith        17.624473
PlatformDesireNextYear    23.229235
Hobbyist                  38.537349
OrgSize                   50.719816
YearsCodePro              14.761395
JobSeek                   45.547573
ConvertedComp             17.872654
WorkWeekHrs               54.060373
NEWJobHunt                82.800852
NEWJobHuntResearch        83.200101
NEWLearn                  78.215792
dtype: float64

In [16]:
# it is safe to remove the following columns using pandas:
# NEWJobHunt
# NEWJobHuntResearch
# NEWLearn

df.drop(['NEWJobHunt','NEWJobHuntResearch','NEWLearn'], axis=1, inplace=True)
print(df.columns)

Index(['RespondentID', 'Year', 'Country', 'Employment', 'UndergradMajor',
       'DevType', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Hobbyist', 'OrgSize', 'YearsCodePro',
       'JobSeek', 'ConvertedComp', 'WorkWeekHrs'],
      dtype='object')

## Part II. Analyze the Data